body {
  font-size: 0.875rem;
}

/**-- Minimum View Heights --*/

.min-vh-1 {
  min-height: 1vh;
}

.min-vh-2 {
  min-height: 2vh;
}

.min-vh-3 {
  min-height: 3vh;
}

.min-vh-4 {
  min-height: 4vh;
}

.min-vh-5 {
  min-height: 5vh;
}

.min-vh-6 {
  min-height: 6vh;
}

.min-vh-7 {
  min-height: 7vh;
}

.min-vh-8 {
  min-height: 8vh;
}

.min-vh-9 {
  min-height: 9vh;
}

.min-vh-10 {
  min-height: 10vh;
}

.min-vh-11 {
  min-height: 11vh;
}

.min-vh-12 {
  min-height: 12vh;
}

.min-vh-13 {
  min-height: 13vh;
}

.min-vh-14 {
  min-height: 14vh;
}

.min-vh-15 {
  min-height: 15vh;
}

.min-vh-16 {
  min-height: 16vh;
}

.min-vh-17 {
  min-height: 17vh;
}

.min-vh-18 {
  min-height: 18vh;
}

.min-vh-19 {
  min-height: 19vh;
}

.min-vh-20 {
  min-height: 20vh;
}

.min-vh-21 {
  min-height: 21vh;
}

.min-vh-22 {
  min-height: 22vh;
}

.min-vh-23 {
  min-height: 23vh;
}

.min-vh-24 {
  min-height: 24vh;
}

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-26 {
  min-height: 26vh;
}

.min-vh-27 {
  min-height: 27vh;
}

.min-vh-28 {
  min-height: 28vh;
}

.min-vh-29 {
  min-height: 29vh;
}

.min-vh-30 {
  min-height: 30vh;
}

.min-vh-31 {
  min-height: 31vh;
}

.min-vh-32 {
  min-height: 32vh;
}

.min-vh-33 {
  min-height: 33vh;
}

.min-vh-34 {
  min-height: 34vh;
}

.min-vh-35 {
  min-height: 35vh;
}

.min-vh-36 {
  min-height: 36vh;
}

.min-vh-37 {
  min-height: 37vh;
}

.min-vh-38 {
  min-height: 38vh;
}

.min-vh-39 {
  min-height: 39vh;
}

.min-vh-40 {
  min-height: 40vh;
}

.min-vh-41 {
  min-height: 41vh;
}

.min-vh-42 {
  min-height: 42vh;
}

.min-vh-43 {
  min-height: 43vh;
}

.min-vh-44 {
  min-height: 44vh;
}

.min-vh-45 {
  min-height: 45vh;
}

.min-vh-46 {
  min-height: 46vh;
}

.min-vh-47 {
  min-height: 47vh;
}

.min-vh-48 {
  min-height: 48vh;
}

.min-vh-49 {
  min-height: 49vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-51 {
  min-height: 51vh;
}

.min-vh-52 {
  min-height: 52vh;
}

.min-vh-53 {
  min-height: 53vh;
}

.min-vh-54 {
  min-height: 54vh;
}

.min-vh-55 {
  min-height: 55vh;
}

.min-vh-56 {
  min-height: 56vh;
}

.min-vh-57 {
  min-height: 57vh;
}

.min-vh-58 {
  min-height: 58vh;
}

.min-vh-59 {
  min-height: 59vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.min-vh-61 {
  min-height: 61vh;
}

.min-vh-62 {
  min-height: 62vh;
}

.min-vh-63 {
  min-height: 63vh;
}

.min-vh-64 {
  min-height: 64vh;
}

.min-vh-65 {
  min-height: 65vh;
}

.min-vh-66 {
  min-height: 66vh;
}

.min-vh-67 {
  min-height: 67vh;
}

.min-vh-68 {
  min-height: 68vh;
}

.min-vh-69 {
  min-height: 69vh;
}

.min-vh-70 {
  min-height: 70vh;
}

.min-vh-71 {
  min-height: 71vh;
}

.min-vh-72 {
  min-height: 72vh;
}

.min-vh-73 {
  min-height: 73vh;
}

.min-vh-74 {
  min-height: 74vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-76 {
  min-height: 76vh;
}

.min-vh-77 {
  min-height: 77vh;
}

.min-vh-78 {
  min-height: 78vh;
}

.min-vh-79 {
  min-height: 79vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.min-vh-81 {
  min-height: 81vh;
}

.min-vh-82 {
  min-height: 82vh;
}

.min-vh-83 {
  min-height: 83vh;
}

.min-vh-84 {
  min-height: 84vh;
}

.min-vh-85 {
  min-height: 85vh;
}

.min-vh-86 {
  min-height: 86vh;
}

.min-vh-87 {
  min-height: 87vh;
}

.min-vh-88 {
  min-height: 88vh;
}

.min-vh-89 {
  min-height: 89vh;
}

.min-vh-90 {
  min-height: 90vh;
}

.min-vh-91 {
  min-height: 91vh;
}

.min-vh-92 {
  min-height: 92vh;
}

.min-vh-93 {
  min-height: 93vh;
}

.min-vh-94 {
  min-height: 94vh;
}

.min-vh-95 {
  min-height: 95vh;
}

.min-vh-96 {
  min-height: 96vh;
}

.min-vh-97 {
  min-height: 97vh;
}

.min-vh-98 {
  min-height: 98vh;
}

.min-vh-99 {
  min-height: 99vh;
}

.min-vh-100 {
  min-height: 100vh;
}

/**-- Maximum View Heights --*/

.max-vh-1 {
  max-height: 1vh;
}

.max-vh-2 {
  max-height: 2vh;
}

.max-vh-3 {
  max-height: 3vh;
}

.max-vh-4 {
  max-height: 4vh;
}

.max-vh-5 {
  max-height: 5vh;
}

.max-vh-6 {
  max-height: 6vh;
}

.max-vh-7 {
  max-height: 7vh;
}

.max-vh-8 {
  max-height: 8vh;
}

.max-vh-9 {
  max-height: 9vh;
}

.max-vh-10 {
  max-height: 10vh;
}

.max-vh-11 {
  max-height: 11vh;
}

.max-vh-12 {
  max-height: 12vh;
}

.max-vh-13 {
  max-height: 13vh;
}

.max-vh-14 {
  max-height: 14vh;
}

.max-vh-15 {
  max-height: 15vh;
}

.max-vh-16 {
  max-height: 16vh;
}

.max-vh-17 {
  max-height: 17vh;
}

.max-vh-18 {
  max-height: 18vh;
}

.max-vh-19 {
  max-height: 19vh;
}

.max-vh-20 {
  max-height: 20vh;
}

.max-vh-21 {
  max-height: 21vh;
}

.max-vh-22 {
  max-height: 22vh;
}

.max-vh-23 {
  max-height: 23vh;
}

.max-vh-24 {
  max-height: 24vh;
}

.max-vh-25 {
  max-height: 25vh;
}

.max-vh-26 {
  max-height: 26vh;
}

.max-vh-27 {
  max-height: 27vh;
}

.max-vh-28 {
  max-height: 28vh;
}

.max-vh-29 {
  max-height: 29vh;
}

.max-vh-30 {
  max-height: 30vh;
}

.max-vh-31 {
  max-height: 31vh;
}

.max-vh-32 {
  max-height: 32vh;
}

.max-vh-33 {
  max-height: 33vh;
}

.max-vh-34 {
  max-height: 34vh;
}

.max-vh-35 {
  max-height: 35vh;
}

.max-vh-36 {
  max-height: 36vh;
}

.max-vh-37 {
  max-height: 37vh;
}

.max-vh-38 {
  max-height: 38vh;
}

.max-vh-39 {
  max-height: 39vh;
}

.max-vh-40 {
  max-height: 40vh;
}

.max-vh-41 {
  max-height: 41vh;
}

.max-vh-42 {
  max-height: 42vh;
}

.max-vh-43 {
  max-height: 43vh;
}

.max-vh-44 {
  max-height: 44vh;
}

.max-vh-45 {
  max-height: 45vh;
}

.max-vh-46 {
  max-height: 46vh;
}

.max-vh-47 {
  max-height: 47vh;
}

.max-vh-48 {
  max-height: 48vh;
}

.max-vh-49 {
  max-height: 49vh;
}

.max-vh-50 {
  max-height: 50vh;
}

.max-vh-51 {
  max-height: 51vh;
}

.max-vh-52 {
  max-height: 52vh;
}

.max-vh-53 {
  max-height: 53vh;
}

.max-vh-54 {
  max-height: 54vh;
}

.max-vh-55 {
  max-height: 55vh;
}

.max-vh-56 {
  max-height: 56vh;
}

.max-vh-57 {
  max-height: 57vh;
}

.max-vh-58 {
  max-height: 58vh;
}

.max-vh-59 {
  max-height: 59vh;
}

.max-vh-60 {
  max-height: 60vh;
}

.max-vh-61 {
  max-height: 61vh;
}

.max-vh-62 {
  max-height: 62vh;
}

.max-vh-63 {
  max-height: 63vh;
}

.max-vh-64 {
  max-height: 64vh;
}

.max-vh-65 {
  max-height: 65vh;
}

.max-vh-66 {
  max-height: 66vh;
}

.max-vh-67 {
  max-height: 67vh;
}

.max-vh-68 {
  max-height: 68vh;
}

.max-vh-69 {
  max-height: 69vh;
}

.max-vh-70 {
  max-height: 70vh;
}

.max-vh-71 {
  max-height: 71vh;
}

.max-vh-72 {
  max-height: 72vh;
}

.max-vh-73 {
  max-height: 73vh;
}

.max-vh-74 {
  max-height: 74vh;
}

.max-vh-75 {
  max-height: 75vh;
}

.max-vh-76 {
  max-height: 76vh;
}

.max-vh-77 {
  max-height: 77vh;
}

.max-vh-78 {
  max-height: 78vh;
}

.max-vh-79 {
  max-height: 79vh;
}

.max-vh-80 {
  max-height: 80vh;
}

.max-vh-81 {
  max-height: 81vh;
}

.max-vh-82 {
  max-height: 82vh;
}

.max-vh-83 {
  max-height: 83vh;
}

.max-vh-84 {
  max-height: 84vh;
}

.max-vh-85 {
  max-height: 85vh;
}

.max-vh-86 {
  max-height: 86vh;
}

.max-vh-87 {
  max-height: 87vh;
}

.max-vh-88 {
  max-height: 88vh;
}

.max-vh-89 {
  max-height: 89vh;
}

.max-vh-90 {
  max-height: 90vh;
}

.max-vh-91 {
  max-height: 91vh;
}

.max-vh-92 {
  max-height: 92vh;
}

.max-vh-93 {
  max-height: 93vh;
}

.max-vh-94 {
  max-height: 94vh;
}

.max-vh-95 {
  max-height: 95vh;
}

.max-vh-96 {
  max-height: 96vh;
}

.max-vh-97 {
  max-height: 97vh;
}

.max-vh-98 {
  max-height: 98vh;
}

.max-vh-99 {
  max-height: 99vh;
}

.max-vh-100 {
  max-height: 100vh;
}

/**-- Minimum View Widths --*/

.min-vw-1 {
  min-width: 1vh;
}

.min-vw-2 {
  min-width: 2vh;
}

.min-vw-3 {
  min-width: 3vh;
}

.min-vw-4 {
  min-width: 4vh;
}

.min-vw-5 {
  min-width: 5vh;
}

.min-vw-6 {
  min-width: 6vh;
}

.min-vw-7 {
  min-width: 7vh;
}

.min-vw-8 {
  min-width: 8vh;
}

.min-vw-9 {
  min-width: 9vh;
}

.min-vw-10 {
  min-width: 10vh;
}

.min-vw-11 {
  min-width: 11vh;
}

.min-vw-12 {
  min-width: 12vh;
}

.min-vw-13 {
  min-width: 13vh;
}

.min-vw-14 {
  min-width: 14vh;
}

.min-vw-15 {
  min-width: 15vh;
}

.min-vw-16 {
  min-width: 16vh;
}

.min-vw-17 {
  min-width: 17vh;
}

.min-vw-18 {
  min-width: 18vh;
}

.min-vw-19 {
  min-width: 19vh;
}

.min-vw-20 {
  min-width: 20vh;
}

.min-vw-21 {
  min-width: 21vh;
}

.min-vw-22 {
  min-width: 22vh;
}

.min-vw-23 {
  min-width: 23vh;
}

.min-vw-24 {
  min-width: 24vh;
}

.min-vw-25 {
  min-width: 25vh;
}

.min-vw-26 {
  min-width: 26vh;
}

.min-vw-27 {
  min-width: 27vh;
}

.min-vw-28 {
  min-width: 28vh;
}

.min-vw-29 {
  min-width: 29vh;
}

.min-vw-30 {
  min-width: 30vh;
}

.min-vw-31 {
  min-width: 31vh;
}

.min-vw-32 {
  min-width: 32vh;
}

.min-vw-33 {
  min-width: 33vh;
}

.min-vw-34 {
  min-width: 34vh;
}

.min-vw-35 {
  min-width: 35vh;
}

.min-vw-36 {
  min-width: 36vh;
}

.min-vw-37 {
  min-width: 37vh;
}

.min-vw-38 {
  min-width: 38vh;
}

.min-vw-39 {
  min-width: 39vh;
}

.min-vw-40 {
  min-width: 40vh;
}

.min-vw-41 {
  min-width: 41vh;
}

.min-vw-42 {
  min-width: 42vh;
}

.min-vw-43 {
  min-width: 43vh;
}

.min-vw-44 {
  min-width: 44vh;
}

.min-vw-45 {
  min-width: 45vh;
}

.min-vw-46 {
  min-width: 46vh;
}

.min-vw-47 {
  min-width: 47vh;
}

.min-vw-48 {
  min-width: 48vh;
}

.min-vw-49 {
  min-width: 49vh;
}

.min-vw-50 {
  min-width: 50vh;
}

.min-vw-51 {
  min-width: 51vh;
}

.min-vw-52 {
  min-width: 52vh;
}

.min-vw-53 {
  min-width: 53vh;
}

.min-vw-54 {
  min-width: 54vh;
}

.min-vw-55 {
  min-width: 55vh;
}

.min-vw-56 {
  min-width: 56vh;
}

.min-vw-57 {
  min-width: 57vh;
}

.min-vw-58 {
  min-width: 58vh;
}

.min-vw-59 {
  min-width: 59vh;
}

.min-vw-60 {
  min-width: 60vh;
}

.min-vw-61 {
  min-width: 61vh;
}

.min-vw-62 {
  min-width: 62vh;
}

.min-vw-63 {
  min-width: 63vh;
}

.min-vw-64 {
  min-width: 64vh;
}

.min-vw-65 {
  min-width: 65vh;
}

.min-vw-66 {
  min-width: 66vh;
}

.min-vw-67 {
  min-width: 67vh;
}

.min-vw-68 {
  min-width: 68vh;
}

.min-vw-69 {
  min-width: 69vh;
}

.min-vw-70 {
  min-width: 70vh;
}

.min-vw-71 {
  min-width: 71vh;
}

.min-vw-72 {
  min-width: 72vh;
}

.min-vw-73 {
  min-width: 73vh;
}

.min-vw-74 {
  min-width: 74vh;
}

.min-vw-75 {
  min-width: 75vh;
}

.min-vw-76 {
  min-width: 76vh;
}

.min-vw-77 {
  min-width: 77vh;
}

.min-vw-78 {
  min-width: 78vh;
}

.min-vw-79 {
  min-width: 79vh;
}

.min-vw-80 {
  min-width: 80vh;
}

.min-vw-81 {
  min-width: 81vh;
}

.min-vw-82 {
  min-width: 82vh;
}

.min-vw-83 {
  min-width: 83vh;
}

.min-vw-84 {
  min-width: 84vh;
}

.min-vw-85 {
  min-width: 85vh;
}

.min-vw-86 {
  min-width: 86vh;
}

.min-vw-87 {
  min-width: 87vh;
}

.min-vw-88 {
  min-width: 88vh;
}

.min-vw-89 {
  min-width: 89vh;
}

.min-vw-90 {
  min-width: 90vh;
}

.min-vw-91 {
  min-width: 91vh;
}

.min-vw-92 {
  min-width: 92vh;
}

.min-vw-93 {
  min-width: 93vh;
}

.min-vw-94 {
  min-width: 94vh;
}

.min-vw-95 {
  min-width: 95vh;
}

.min-vw-96 {
  min-width: 96vh;
}

.min-vw-97 {
  min-width: 97vh;
}

.min-vw-98 {
  min-width: 98vh;
}

.min-vw-99 {
  min-width: 99vh;
}

.min-vw-100 {
  min-width: 100vh;
}

/**-- Maximum View Widths --*/

.max-vw-1 {
  max-width: 1vh;
}

.max-vw-2 {
  max-width: 2vh;
}

.max-vw-3 {
  max-width: 3vh;
}

.max-vw-4 {
  max-width: 4vh;
}

.max-vw-5 {
  max-width: 5vh;
}

.max-vw-6 {
  max-width: 6vh;
}

.max-vw-7 {
  max-width: 7vh;
}

.max-vw-8 {
  max-width: 8vh;
}

.max-vw-9 {
  max-width: 9vh;
}

.max-vw-10 {
  max-width: 10vh;
}

.max-vw-11 {
  max-width: 11vh;
}

.max-vw-12 {
  max-width: 12vh;
}

.max-vw-13 {
  max-width: 13vh;
}

.max-vw-14 {
  max-width: 14vh;
}

.max-vw-15 {
  max-width: 15vh;
}

.max-vw-16 {
  max-width: 16vh;
}

.max-vw-17 {
  max-width: 17vh;
}

.max-vw-18 {
  max-width: 18vh;
}

.max-vw-19 {
  max-width: 19vh;
}

.max-vw-20 {
  max-width: 20vh;
}

.max-vw-21 {
  max-width: 21vh;
}

.max-vw-22 {
  max-width: 22vh;
}

.max-vw-23 {
  max-width: 23vh;
}

.max-vw-24 {
  max-width: 24vh;
}

.max-vw-25 {
  max-width: 25vh;
}

.max-vw-26 {
  max-width: 26vh;
}

.max-vw-27 {
  max-width: 27vh;
}

.max-vw-28 {
  max-width: 28vh;
}

.max-vw-29 {
  max-width: 29vh;
}

.max-vw-30 {
  max-width: 30vh;
}

.max-vw-31 {
  max-width: 31vh;
}

.max-vw-32 {
  max-width: 32vh;
}

.max-vw-33 {
  max-width: 33vh;
}

.max-vw-34 {
  max-width: 34vh;
}

.max-vw-35 {
  max-width: 35vh;
}

.max-vw-36 {
  max-width: 36vh;
}

.max-vw-37 {
  max-width: 37vh;
}

.max-vw-38 {
  max-width: 38vh;
}

.max-vw-39 {
  max-width: 39vh;
}

.max-vw-40 {
  max-width: 40vh;
}

.max-vw-41 {
  max-width: 41vh;
}

.max-vw-42 {
  max-width: 42vh;
}

.max-vw-43 {
  max-width: 43vh;
}

.max-vw-44 {
  max-width: 44vh;
}

.max-vw-45 {
  max-width: 45vh;
}

.max-vw-46 {
  max-width: 46vh;
}

.max-vw-47 {
  max-width: 47vh;
}

.max-vw-48 {
  max-width: 48vh;
}

.max-vw-49 {
  max-width: 49vh;
}

.max-vw-50 {
  max-width: 50vh;
}

.max-vw-51 {
  max-width: 51vh;
}

.max-vw-52 {
  max-width: 52vh;
}

.max-vw-53 {
  max-width: 53vh;
}

.max-vw-54 {
  max-width: 54vh;
}

.max-vw-55 {
  max-width: 55vh;
}

.max-vw-56 {
  max-width: 56vh;
}

.max-vw-57 {
  max-width: 57vh;
}

.max-vw-58 {
  max-width: 58vh;
}

.max-vw-59 {
  max-width: 59vh;
}

.max-vw-60 {
  max-width: 60vh;
}

.max-vw-61 {
  max-width: 61vh;
}

.max-vw-62 {
  max-width: 62vh;
}

.max-vw-63 {
  max-width: 63vh;
}

.max-vw-64 {
  max-width: 64vh;
}

.max-vw-65 {
  max-width: 65vh;
}

.max-vw-66 {
  max-width: 66vh;
}

.max-vw-67 {
  max-width: 67vh;
}

.max-vw-68 {
  max-width: 68vh;
}

.max-vw-69 {
  max-width: 69vh;
}

.max-vw-70 {
  max-width: 70vh;
}

.max-vw-71 {
  max-width: 71vh;
}

.max-vw-72 {
  max-width: 72vh;
}

.max-vw-73 {
  max-width: 73vh;
}

.max-vw-74 {
  max-width: 74vh;
}

.max-vw-75 {
  max-width: 75vh;
}

.max-vw-76 {
  max-width: 76vh;
}

.max-vw-77 {
  max-width: 77vh;
}

.max-vw-78 {
  max-width: 78vh;
}

.max-vw-79 {
  max-width: 79vh;
}

.max-vw-80 {
  max-width: 80vh;
}

.max-vw-81 {
  max-width: 81vh;
}

.max-vw-82 {
  max-width: 82vh;
}

.max-vw-83 {
  max-width: 83vh;
}

.max-vw-84 {
  max-width: 84vh;
}

.max-vw-85 {
  max-width: 85vh;
}

.max-vw-86 {
  max-width: 86vh;
}

.max-vw-87 {
  max-width: 87vh;
}

.max-vw-88 {
  max-width: 88vh;
}

.max-vw-89 {
  max-width: 89vh;
}

.max-vw-90 {
  max-width: 90vh;
}

.max-vw-91 {
  max-width: 91vh;
}

.max-vw-92 {
  max-width: 92vh;
}

.max-vw-93 {
  max-width: 93vh;
}

.max-vw-94 {
  max-width: 94vh;
}

.max-vw-95 {
  max-width: 95vh;
}

.max-vw-96 {
  max-width: 96vh;
}

.max-vw-97 {
  max-width: 97vh;
}

.max-vw-98 {
  max-width: 98vh;
}

.max-vw-99 {
  max-width: 99vh;
}

.max-vw-100 {
  max-width: 100vh;
}

/**-- Padding View Heights --*/

.p-v-1 {
  padding: 1vh 1vw 1vh 1vw;
}

.p-v-2 {
  padding: 2vh 2vw 2vh 2vw;
}

.p-v-3 {
  padding: 3vh 3vw 3vh 3vw;
}

.p-v-4 {
  padding: 4vh 4vw 4vh 4vw;
}

.p-v-5 {
  padding: 5vh 5vw 5vh 5vw;
}

.p-v-6 {
  padding: 6vh 6vw 6vh 6vw;
}

.p-v-7 {
  padding: 7vh 7vw 7vh 7vw;
}

.p-v-8 {
  padding: 8vh 8vw 8vh 8vw;
}

.p-v-9 {
  padding: 9vh 9vw 9vh 9vw;
}

.p-v-10 {
  padding: 10vh 10vw 10vh 10vw;
}

.p-v-11 {
  padding: 11vh 11vw 11vh 11vw;
}

.p-v-12 {
  padding: 12vh 12vw 12vh 12vw;
}

.p-v-13 {
  padding: 13vh 13vw 13vh 13vw;
}

.p-v-14 {
  padding: 14vh 14vw 14vh 14vw;
}

.p-v-15 {
  padding: 15vh 15vw 15vh 15vw;
}

.p-v-16 {
  padding: 16vh 16vw 16vh 16vw;
}

.p-v-17 {
  padding: 17vh 17vw 17vh 17vw;
}

.p-v-18 {
  padding: 18vh 18vw 18vh 18vw;
}

.p-v-19 {
  padding: 19vh 19vw 19vh 19vw;
}

.p-v-20 {
  padding: 20vh 20vw 20vh 20vw;
}

.p-v-21 {
  padding: 21vh 21vw 21vh 21vw;
}

.p-v-22 {
  padding: 22vh 22vw 22vh 22vw;
}

.p-v-23 {
  padding: 23vh 23vw 23vh 23vw;
}

.p-v-24 {
  padding: 24vh 24vw 24vh 24vw;
}

.p-v-25 {
  padding: 25vh 25vw 25vh 25vw;
}

.p-v-26 {
  padding: 26vh 26vw 26vh 26vw;
}

.p-v-27 {
  padding: 27vh 27vw 27vh 27vw;
}

.p-v-28 {
  padding: 28vh 28vw 28vh 28vw;
}

.p-v-29 {
  padding: 29vh 29vw 29vh 29vw;
}

.p-v-30 {
  padding: 30vh 30vw 30vh 30vw;
}

.p-v-31 {
  padding: 31vh 31vw 31vh 31vw;
}

.p-v-32 {
  padding: 32vh 32vw 32vh 32vw;
}

.p-v-33 {
  padding: 33vh 33vw 33vh 33vw;
}

.p-v-34 {
  padding: 34vh 34vw 34vh 34vw;
}

.p-v-35 {
  padding: 35vh 35vw 35vh 35vw;
}

.p-v-36 {
  padding: 36vh 36vw 36vh 36vw;
}

.p-v-37 {
  padding: 37vh 37vw 37vh 37vw;
}

.p-v-38 {
  padding: 38vh 38vw 38vh 38vw;
}

.p-v-39 {
  padding: 39vh 39vw 39vh 39vw;
}

.p-v-40 {
  padding: 40vh 40vw 40vh 40vw;
}

.p-v-41 {
  padding: 41vh 41vw 41vh 41vw;
}

.p-v-42 {
  padding: 42vh 42vw 42vh 42vw;
}

.p-v-43 {
  padding: 43vh 43vw 43vh 43vw;
}

.p-v-44 {
  padding: 44vh 44vw 44vh 44vw;
}

.p-v-45 {
  padding: 45vh 45vw 45vh 45vw;
}

.p-v-46 {
  padding: 46vh 46vw 46vh 46vw;
}

.p-v-47 {
  padding: 47vh 47vw 47vh 47vw;
}

.p-v-48 {
  padding: 48vh 48vw 48vh 48vw;
}

.p-v-49 {
  padding: 49vh 49vw 49vh 49vw;
}

.p-v-50 {
  padding: 50vh 50vw 50vh 50vw;
}

.p-v-51 {
  padding: 51vh 51vw 51vh 51vw;
}

.p-v-52 {
  padding: 52vh 52vw 52vh 52vw;
}

.p-v-53 {
  padding: 53vh 53vw 53vh 53vw;
}

.p-v-54 {
  padding: 54vh 54vw 54vh 54vw;
}

.p-v-55 {
  padding: 55vh 55vw 55vh 55vw;
}

.p-v-56 {
  padding: 56vh 56vw 56vh 56vw;
}

.p-v-57 {
  padding: 57vh 57vw 57vh 57vw;
}

.p-v-58 {
  padding: 58vh 58vw 58vh 58vw;
}

.p-v-59 {
  padding: 59vh 59vw 59vh 59vw;
}

.p-v-60 {
  padding: 60vh 60vw 60vh 60vw;
}

.p-v-61 {
  padding: 61vh 61vw 61vh 61vw;
}

.p-v-62 {
  padding: 62vh 62vw 62vh 62vw;
}

.p-v-63 {
  padding: 63vh 63vw 63vh 63vw;
}

.p-v-64 {
  padding: 64vh 64vw 64vh 64vw;
}

.p-v-65 {
  padding: 65vh 65vw 65vh 65vw;
}

.p-v-66 {
  padding: 66vh 66vw 66vh 66vw;
}

.p-v-67 {
  padding: 67vh 67vw 67vh 67vw;
}

.p-v-68 {
  padding: 68vh 68vw 68vh 68vw;
}

.p-v-69 {
  padding: 69vh 69vw 69vh 69vw;
}

.p-v-70 {
  padding: 70vh 70vw 70vh 70vw;
}

.p-v-71 {
  padding: 71vh 71vw 71vh 71vw;
}

.p-v-72 {
  padding: 72vh 72vw 72vh 72vw;
}

.p-v-73 {
  padding: 73vh 73vw 73vh 73vw;
}

.p-v-74 {
  padding: 74vh 74vw 74vh 74vw;
}

.p-v-75 {
  padding: 75vh 75vw 75vh 75vw;
}

.p-v-76 {
  padding: 76vh 76vw 76vh 76vw;
}

.p-v-77 {
  padding: 77vh 77vw 77vh 77vw;
}

.p-v-78 {
  padding: 78vh 78vw 78vh 78vw;
}

.p-v-79 {
  padding: 79vh 79vw 79vh 79vw;
}

.p-v-80 {
  padding: 80vh 80vw 80vh 80vw;
}

.p-v-81 {
  padding: 81vh 81vw 81vh 81vw;
}

.p-v-82 {
  padding: 82vh 82vw 82vh 82vw;
}

.p-v-83 {
  padding: 83vh 83vw 83vh 83vw;
}

.p-v-84 {
  padding: 84vh 84vw 84vh 84vw;
}

.p-v-85 {
  padding: 85vh 85vw 85vh 85vw;
}

.p-v-86 {
  padding: 86vh 86vw 86vh 86vw;
}

.p-v-87 {
  padding: 87vh 87vw 87vh 87vw;
}

.p-v-88 {
  padding: 88vh 88vw 88vh 88vw;
}

.p-v-89 {
  padding: 89vh 89vw 89vh 89vw;
}

.p-v-90 {
  padding: 90vh 90vw 90vh 90vw;
}

.p-v-91 {
  padding: 91vh 91vw 91vh 91vw;
}

.p-v-92 {
  padding: 92vh 92vw 92vh 92vw;
}

.p-v-93 {
  padding: 93vh 93vw 93vh 93vw;
}

.p-v-94 {
  padding: 94vh 94vw 94vh 94vw;
}

.p-v-95 {
  padding: 95vh 95vw 95vh 95vw;
}

.p-v-96 {
  padding: 96vh 96vw 96vh 96vw;
}

.p-v-97 {
  padding: 97vh 97vw 97vh 97vw;
}

.p-v-98 {
  padding: 98vh 98vw 98vh 98vw;
}

.p-v-99 {
  padding: 99vh 99vw 99vh 99vw;
}

.p-v-100 {
  padding: 100vh 100vw 100vh 100vw;
}

/**-- Padding top View Heights --*/

.pt-vh-1 {
  padding-top: 1vh;
}

.pt-vh-2 {
  padding-top: 2vh;
}

.pt-vh-3 {
  padding-top: 3vh;
}

.pt-vh-4 {
  padding-top: 4vh;
}

.pt-vh-5 {
  padding-top: 5vh;
}

.pt-vh-6 {
  padding-top: 6vh;
}

.pt-vh-7 {
  padding-top: 7vh;
}

.pt-vh-8 {
  padding-top: 8vh;
}

.pt-vh-9 {
  padding-top: 9vh;
}

.pt-vh-10 {
  padding-top: 10vh;
}

.pt-vh-11 {
  padding-top: 11vh;
}

.pt-vh-12 {
  padding-top: 12vh;
}

.pt-vh-13 {
  padding-top: 13vh;
}

.pt-vh-14 {
  padding-top: 14vh;
}

.pt-vh-15 {
  padding-top: 15vh;
}

.pt-vh-16 {
  padding-top: 16vh;
}

.pt-vh-17 {
  padding-top: 17vh;
}

.pt-vh-18 {
  padding-top: 18vh;
}

.pt-vh-19 {
  padding-top: 19vh;
}

.pt-vh-20 {
  padding-top: 20vh;
}

.pt-vh-21 {
  padding-top: 21vh;
}

.pt-vh-22 {
  padding-top: 22vh;
}

.pt-vh-23 {
  padding-top: 23vh;
}

.pt-vh-24 {
  padding-top: 24vh;
}

.pt-vh-25 {
  padding-top: 25vh;
}

.pt-vh-26 {
  padding-top: 26vh;
}

.pt-vh-27 {
  padding-top: 27vh;
}

.pt-vh-28 {
  padding-top: 28vh;
}

.pt-vh-29 {
  padding-top: 29vh;
}

.pt-vh-30 {
  padding-top: 30vh;
}

.pt-vh-31 {
  padding-top: 31vh;
}

.pt-vh-32 {
  padding-top: 32vh;
}

.pt-vh-33 {
  padding-top: 33vh;
}

.pt-vh-34 {
  padding-top: 34vh;
}

.pt-vh-35 {
  padding-top: 35vh;
}

.pt-vh-36 {
  padding-top: 36vh;
}

.pt-vh-37 {
  padding-top: 37vh;
}

.pt-vh-38 {
  padding-top: 38vh;
}

.pt-vh-39 {
  padding-top: 39vh;
}

.pt-vh-40 {
  padding-top: 40vh;
}

.pt-vh-41 {
  padding-top: 41vh;
}

.pt-vh-42 {
  padding-top: 42vh;
}

.pt-vh-43 {
  padding-top: 43vh;
}

.pt-vh-44 {
  padding-top: 44vh;
}

.pt-vh-45 {
  padding-top: 45vh;
}

.pt-vh-46 {
  padding-top: 46vh;
}

.pt-vh-47 {
  padding-top: 47vh;
}

.pt-vh-48 {
  padding-top: 48vh;
}

.pt-vh-49 {
  padding-top: 49vh;
}

.pt-vh-50 {
  padding-top: 50vh;
}

.pt-vh-51 {
  padding-top: 51vh;
}

.pt-vh-52 {
  padding-top: 52vh;
}

.pt-vh-53 {
  padding-top: 53vh;
}

.pt-vh-54 {
  padding-top: 54vh;
}

.pt-vh-55 {
  padding-top: 55vh;
}

.pt-vh-56 {
  padding-top: 56vh;
}

.pt-vh-57 {
  padding-top: 57vh;
}

.pt-vh-58 {
  padding-top: 58vh;
}

.pt-vh-59 {
  padding-top: 59vh;
}

.pt-vh-60 {
  padding-top: 60vh;
}

.pt-vh-61 {
  padding-top: 61vh;
}

.pt-vh-62 {
  padding-top: 62vh;
}

.pt-vh-63 {
  padding-top: 63vh;
}

.pt-vh-64 {
  padding-top: 64vh;
}

.pt-vh-65 {
  padding-top: 65vh;
}

.pt-vh-66 {
  padding-top: 66vh;
}

.pt-vh-67 {
  padding-top: 67vh;
}

.pt-vh-68 {
  padding-top: 68vh;
}

.pt-vh-69 {
  padding-top: 69vh;
}

.pt-vh-70 {
  padding-top: 70vh;
}

.pt-vh-71 {
  padding-top: 71vh;
}

.pt-vh-72 {
  padding-top: 72vh;
}

.pt-vh-73 {
  padding-top: 73vh;
}

.pt-vh-74 {
  padding-top: 74vh;
}

.pt-vh-75 {
  padding-top: 75vh;
}

.pt-vh-76 {
  padding-top: 76vh;
}

.pt-vh-77 {
  padding-top: 77vh;
}

.pt-vh-78 {
  padding-top: 78vh;
}

.pt-vh-79 {
  padding-top: 79vh;
}

.pt-vh-80 {
  padding-top: 80vh;
}

.pt-vh-81 {
  padding-top: 81vh;
}

.pt-vh-82 {
  padding-top: 82vh;
}

.pt-vh-83 {
  padding-top: 83vh;
}

.pt-vh-84 {
  padding-top: 84vh;
}

.pt-vh-85 {
  padding-top: 85vh;
}

.pt-vh-86 {
  padding-top: 86vh;
}

.pt-vh-87 {
  padding-top: 87vh;
}

.pt-vh-88 {
  padding-top: 88vh;
}

.pt-vh-89 {
  padding-top: 89vh;
}

.pt-vh-90 {
  padding-top: 90vh;
}

.pt-vh-91 {
  padding-top: 91vh;
}

.pt-vh-92 {
  padding-top: 92vh;
}

.pt-vh-93 {
  padding-top: 93vh;
}

.pt-vh-94 {
  padding-top: 94vh;
}

.pt-vh-95 {
  padding-top: 95vh;
}

.pt-vh-96 {
  padding-top: 96vh;
}

.pt-vh-97 {
  padding-top: 97vh;
}

.pt-vh-98 {
  padding-top: 98vh;
}

.pt-vh-99 {
  padding-top: 99vh;
}

.pt-vh-100 {
  padding-top: 100vh;
}

/**-- Padding bottom View Heights --*/

.pb-vh-1 {
  padding-bottom: 1vh;
}

.pb-vh-2 {
  padding-bottom: 2vh;
}

.pb-vh-3 {
  padding-bottom: 3vh;
}

.pb-vh-4 {
  padding-bottom: 4vh;
}

.pb-vh-5 {
  padding-bottom: 5vh;
}

.pb-vh-6 {
  padding-bottom: 6vh;
}

.pb-vh-7 {
  padding-bottom: 7vh;
}

.pb-vh-8 {
  padding-bottom: 8vh;
}

.pb-vh-9 {
  padding-bottom: 9vh;
}

.pb-vh-10 {
  padding-bottom: 10vh;
}

.pb-vh-11 {
  padding-bottom: 11vh;
}

.pb-vh-12 {
  padding-bottom: 12vh;
}

.pb-vh-13 {
  padding-bottom: 13vh;
}

.pb-vh-14 {
  padding-bottom: 14vh;
}

.pb-vh-15 {
  padding-bottom: 15vh;
}

.pb-vh-16 {
  padding-bottom: 16vh;
}

.pb-vh-17 {
  padding-bottom: 17vh;
}

.pb-vh-18 {
  padding-bottom: 18vh;
}

.pb-vh-19 {
  padding-bottom: 19vh;
}

.pb-vh-20 {
  padding-bottom: 20vh;
}

.pb-vh-21 {
  padding-bottom: 21vh;
}

.pb-vh-22 {
  padding-bottom: 22vh;
}

.pb-vh-23 {
  padding-bottom: 23vh;
}

.pb-vh-24 {
  padding-bottom: 24vh;
}

.pb-vh-25 {
  padding-bottom: 25vh;
}

.pb-vh-26 {
  padding-bottom: 26vh;
}

.pb-vh-27 {
  padding-bottom: 27vh;
}

.pb-vh-28 {
  padding-bottom: 28vh;
}

.pb-vh-29 {
  padding-bottom: 29vh;
}

.pb-vh-30 {
  padding-bottom: 30vh;
}

.pb-vh-31 {
  padding-bottom: 31vh;
}

.pb-vh-32 {
  padding-bottom: 32vh;
}

.pb-vh-33 {
  padding-bottom: 33vh;
}

.pb-vh-34 {
  padding-bottom: 34vh;
}

.pb-vh-35 {
  padding-bottom: 35vh;
}

.pb-vh-36 {
  padding-bottom: 36vh;
}

.pb-vh-37 {
  padding-bottom: 37vh;
}

.pb-vh-38 {
  padding-bottom: 38vh;
}

.pb-vh-39 {
  padding-bottom: 39vh;
}

.pb-vh-40 {
  padding-bottom: 40vh;
}

.pb-vh-41 {
  padding-bottom: 41vh;
}

.pb-vh-42 {
  padding-bottom: 42vh;
}

.pb-vh-43 {
  padding-bottom: 43vh;
}

.pb-vh-44 {
  padding-bottom: 44vh;
}

.pb-vh-45 {
  padding-bottom: 45vh;
}

.pb-vh-46 {
  padding-bottom: 46vh;
}

.pb-vh-47 {
  padding-bottom: 47vh;
}

.pb-vh-48 {
  padding-bottom: 48vh;
}

.pb-vh-49 {
  padding-bottom: 49vh;
}

.pb-vh-50 {
  padding-bottom: 50vh;
}

.pb-vh-51 {
  padding-bottom: 51vh;
}

.pb-vh-52 {
  padding-bottom: 52vh;
}

.pb-vh-53 {
  padding-bottom: 53vh;
}

.pb-vh-54 {
  padding-bottom: 54vh;
}

.pb-vh-55 {
  padding-bottom: 55vh;
}

.pb-vh-56 {
  padding-bottom: 56vh;
}

.pb-vh-57 {
  padding-bottom: 57vh;
}

.pb-vh-58 {
  padding-bottom: 58vh;
}

.pb-vh-59 {
  padding-bottom: 59vh;
}

.pb-vh-60 {
  padding-bottom: 60vh;
}

.pb-vh-61 {
  padding-bottom: 61vh;
}

.pb-vh-62 {
  padding-bottom: 62vh;
}

.pb-vh-63 {
  padding-bottom: 63vh;
}

.pb-vh-64 {
  padding-bottom: 64vh;
}

.pb-vh-65 {
  padding-bottom: 65vh;
}

.pb-vh-66 {
  padding-bottom: 66vh;
}

.pb-vh-67 {
  padding-bottom: 67vh;
}

.pb-vh-68 {
  padding-bottom: 68vh;
}

.pb-vh-69 {
  padding-bottom: 69vh;
}

.pb-vh-70 {
  padding-bottom: 70vh;
}

.pb-vh-71 {
  padding-bottom: 71vh;
}

.pb-vh-72 {
  padding-bottom: 72vh;
}

.pb-vh-73 {
  padding-bottom: 73vh;
}

.pb-vh-74 {
  padding-bottom: 74vh;
}

.pb-vh-75 {
  padding-bottom: 75vh;
}

.pb-vh-76 {
  padding-bottom: 76vh;
}

.pb-vh-77 {
  padding-bottom: 77vh;
}

.pb-vh-78 {
  padding-bottom: 78vh;
}

.pb-vh-79 {
  padding-bottom: 79vh;
}

.pb-vh-80 {
  padding-bottom: 80vh;
}

.pb-vh-81 {
  padding-bottom: 81vh;
}

.pb-vh-82 {
  padding-bottom: 82vh;
}

.pb-vh-83 {
  padding-bottom: 83vh;
}

.pb-vh-84 {
  padding-bottom: 84vh;
}

.pb-vh-85 {
  padding-bottom: 85vh;
}

.pb-vh-86 {
  padding-bottom: 86vh;
}

.pb-vh-87 {
  padding-bottom: 87vh;
}

.pb-vh-88 {
  padding-bottom: 88vh;
}

.pb-vh-89 {
  padding-bottom: 89vh;
}

.pb-vh-90 {
  padding-bottom: 90vh;
}

.pb-vh-91 {
  padding-bottom: 91vh;
}

.pb-vh-92 {
  padding-bottom: 92vh;
}

.pb-vh-93 {
  padding-bottom: 93vh;
}

.pb-vh-94 {
  padding-bottom: 94vh;
}

.pb-vh-95 {
  padding-bottom: 95vh;
}

.pb-vh-96 {
  padding-bottom: 96vh;
}

.pb-vh-97 {
  padding-bottom: 97vh;
}

.pb-vh-98 {
  padding-bottom: 98vh;
}

.pb-vh-99 {
  padding-bottom: 99vh;
}

.pb-vh-100 {
  padding-bottom: 100vh;
}

/**-- Padding left View Widths --*/

.pl-vw-1 {
  padding-left: 1vw;
}

.pl-vw-2 {
  padding-left: 2vw;
}

.pl-vw-3 {
  padding-left: 3vw;
}

.pl-vw-4 {
  padding-left: 4vw;
}

.pl-vw-5 {
  padding-left: 5vw;
}

.pl-vw-6 {
  padding-left: 6vw;
}

.pl-vw-7 {
  padding-left: 7vw;
}

.pl-vw-8 {
  padding-left: 8vw;
}

.pl-vw-9 {
  padding-left: 9vw;
}

.pl-vw-10 {
  padding-left: 10vw;
}

.pl-vw-11 {
  padding-left: 11vw;
}

.pl-vw-12 {
  padding-left: 12vw;
}

.pl-vw-13 {
  padding-left: 13vw;
}

.pl-vw-14 {
  padding-left: 14vw;
}

.pl-vw-15 {
  padding-left: 15vw;
}

.pl-vw-16 {
  padding-left: 16vw;
}

.pl-vw-17 {
  padding-left: 17vw;
}

.pl-vw-18 {
  padding-left: 18vw;
}

.pl-vw-19 {
  padding-left: 19vw;
}

.pl-vw-20 {
  padding-left: 20vw;
}

.pl-vw-21 {
  padding-left: 21vw;
}

.pl-vw-22 {
  padding-left: 22vw;
}

.pl-vw-23 {
  padding-left: 23vw;
}

.pl-vw-24 {
  padding-left: 24vw;
}

.pl-vw-25 {
  padding-left: 25vw;
}

.pl-vw-26 {
  padding-left: 26vw;
}

.pl-vw-27 {
  padding-left: 27vw;
}

.pl-vw-28 {
  padding-left: 28vw;
}

.pl-vw-29 {
  padding-left: 29vw;
}

.pl-vw-30 {
  padding-left: 30vw;
}

.pl-vw-31 {
  padding-left: 31vw;
}

.pl-vw-32 {
  padding-left: 32vw;
}

.pl-vw-33 {
  padding-left: 33vw;
}

.pl-vw-34 {
  padding-left: 34vw;
}

.pl-vw-35 {
  padding-left: 35vw;
}

.pl-vw-36 {
  padding-left: 36vw;
}

.pl-vw-37 {
  padding-left: 37vw;
}

.pl-vw-38 {
  padding-left: 38vw;
}

.pl-vw-39 {
  padding-left: 39vw;
}

.pl-vw-40 {
  padding-left: 40vw;
}

.pl-vw-41 {
  padding-left: 41vw;
}

.pl-vw-42 {
  padding-left: 42vw;
}

.pl-vw-43 {
  padding-left: 43vw;
}

.pl-vw-44 {
  padding-left: 44vw;
}

.pl-vw-45 {
  padding-left: 45vw;
}

.pl-vw-46 {
  padding-left: 46vw;
}

.pl-vw-47 {
  padding-left: 47vw;
}

.pl-vw-48 {
  padding-left: 48vw;
}

.pl-vw-49 {
  padding-left: 49vw;
}

.pl-vw-50 {
  padding-left: 50vw;
}

.pl-vw-51 {
  padding-left: 51vw;
}

.pl-vw-52 {
  padding-left: 52vw;
}

.pl-vw-53 {
  padding-left: 53vw;
}

.pl-vw-54 {
  padding-left: 54vw;
}

.pl-vw-55 {
  padding-left: 55vw;
}

.pl-vw-56 {
  padding-left: 56vw;
}

.pl-vw-57 {
  padding-left: 57vw;
}

.pl-vw-58 {
  padding-left: 58vw;
}

.pl-vw-59 {
  padding-left: 59vw;
}

.pl-vw-60 {
  padding-left: 60vw;
}

.pl-vw-61 {
  padding-left: 61vw;
}

.pl-vw-62 {
  padding-left: 62vw;
}

.pl-vw-63 {
  padding-left: 63vw;
}

.pl-vw-64 {
  padding-left: 64vw;
}

.pl-vw-65 {
  padding-left: 65vw;
}

.pl-vw-66 {
  padding-left: 66vw;
}

.pl-vw-67 {
  padding-left: 67vw;
}

.pl-vw-68 {
  padding-left: 68vw;
}

.pl-vw-69 {
  padding-left: 69vw;
}

.pl-vw-70 {
  padding-left: 70vw;
}

.pl-vw-71 {
  padding-left: 71vw;
}

.pl-vw-72 {
  padding-left: 72vw;
}

.pl-vw-73 {
  padding-left: 73vw;
}

.pl-vw-74 {
  padding-left: 74vw;
}

.pl-vw-75 {
  padding-left: 75vw;
}

.pl-vw-76 {
  padding-left: 76vw;
}

.pl-vw-77 {
  padding-left: 77vw;
}

.pl-vw-78 {
  padding-left: 78vw;
}

.pl-vw-79 {
  padding-left: 79vw;
}

.pl-vw-80 {
  padding-left: 80vw;
}

.pl-vw-81 {
  padding-left: 81vw;
}

.pl-vw-82 {
  padding-left: 82vw;
}

.pl-vw-83 {
  padding-left: 83vw;
}

.pl-vw-84 {
  padding-left: 84vw;
}

.pl-vw-85 {
  padding-left: 85vw;
}

.pl-vw-86 {
  padding-left: 86vw;
}

.pl-vw-87 {
  padding-left: 87vw;
}

.pl-vw-88 {
  padding-left: 88vw;
}

.pl-vw-89 {
  padding-left: 89vw;
}

.pl-vw-90 {
  padding-left: 90vw;
}

.pl-vw-91 {
  padding-left: 91vw;
}

.pl-vw-92 {
  padding-left: 92vw;
}

.pl-vw-93 {
  padding-left: 93vw;
}

.pl-vw-94 {
  padding-left: 94vw;
}

.pl-vw-95 {
  padding-left: 95vw;
}

.pl-vw-96 {
  padding-left: 96vw;
}

.pl-vw-97 {
  padding-left: 97vw;
}

.pl-vw-98 {
  padding-left: 98vw;
}

.pl-vw-99 {
  padding-left: 99vw;
}

.pl-vw-100 {
  padding-left: 100vw;
}

/**-- Padding right View Widths --*/

.pr-vw-1 {
  padding-right: 1vw;
}

.pr-vw-2 {
  padding-right: 2vw;
}

.pr-vw-3 {
  padding-right: 3vw;
}

.pr-vw-4 {
  padding-right: 4vw;
}

.pr-vw-5 {
  padding-right: 5vw;
}

.pr-vw-6 {
  padding-right: 6vw;
}

.pr-vw-7 {
  padding-right: 7vw;
}

.pr-vw-8 {
  padding-right: 8vw;
}

.pr-vw-9 {
  padding-right: 9vw;
}

.pr-vw-10 {
  padding-right: 10vw;
}

.pr-vw-11 {
  padding-right: 11vw;
}

.pr-vw-12 {
  padding-right: 12vw;
}

.pr-vw-13 {
  padding-right: 13vw;
}

.pr-vw-14 {
  padding-right: 14vw;
}

.pr-vw-15 {
  padding-right: 15vw;
}

.pr-vw-16 {
  padding-right: 16vw;
}

.pr-vw-17 {
  padding-right: 17vw;
}

.pr-vw-18 {
  padding-right: 18vw;
}

.pr-vw-19 {
  padding-right: 19vw;
}

.pr-vw-20 {
  padding-right: 20vw;
}

.pr-vw-21 {
  padding-right: 21vw;
}

.pr-vw-22 {
  padding-right: 22vw;
}

.pr-vw-23 {
  padding-right: 23vw;
}

.pr-vw-24 {
  padding-right: 24vw;
}

.pr-vw-25 {
  padding-right: 25vw;
}

.pr-vw-26 {
  padding-right: 26vw;
}

.pr-vw-27 {
  padding-right: 27vw;
}

.pr-vw-28 {
  padding-right: 28vw;
}

.pr-vw-29 {
  padding-right: 29vw;
}

.pr-vw-30 {
  padding-right: 30vw;
}

.pr-vw-31 {
  padding-right: 31vw;
}

.pr-vw-32 {
  padding-right: 32vw;
}

.pr-vw-33 {
  padding-right: 33vw;
}

.pr-vw-34 {
  padding-right: 34vw;
}

.pr-vw-35 {
  padding-right: 35vw;
}

.pr-vw-36 {
  padding-right: 36vw;
}

.pr-vw-37 {
  padding-right: 37vw;
}

.pr-vw-38 {
  padding-right: 38vw;
}

.pr-vw-39 {
  padding-right: 39vw;
}

.pr-vw-40 {
  padding-right: 40vw;
}

.pr-vw-41 {
  padding-right: 41vw;
}

.pr-vw-42 {
  padding-right: 42vw;
}

.pr-vw-43 {
  padding-right: 43vw;
}

.pr-vw-44 {
  padding-right: 44vw;
}

.pr-vw-45 {
  padding-right: 45vw;
}

.pr-vw-46 {
  padding-right: 46vw;
}

.pr-vw-47 {
  padding-right: 47vw;
}

.pr-vw-48 {
  padding-right: 48vw;
}

.pr-vw-49 {
  padding-right: 49vw;
}

.pr-vw-50 {
  padding-right: 50vw;
}

.pr-vw-51 {
  padding-right: 51vw;
}

.pr-vw-52 {
  padding-right: 52vw;
}

.pr-vw-53 {
  padding-right: 53vw;
}

.pr-vw-54 {
  padding-right: 54vw;
}

.pr-vw-55 {
  padding-right: 55vw;
}

.pr-vw-56 {
  padding-right: 56vw;
}

.pr-vw-57 {
  padding-right: 57vw;
}

.pr-vw-58 {
  padding-right: 58vw;
}

.pr-vw-59 {
  padding-right: 59vw;
}

.pr-vw-60 {
  padding-right: 60vw;
}

.pr-vw-61 {
  padding-right: 61vw;
}

.pr-vw-62 {
  padding-right: 62vw;
}

.pr-vw-63 {
  padding-right: 63vw;
}

.pr-vw-64 {
  padding-right: 64vw;
}

.pr-vw-65 {
  padding-right: 65vw;
}

.pr-vw-66 {
  padding-right: 66vw;
}

.pr-vw-67 {
  padding-right: 67vw;
}

.pr-vw-68 {
  padding-right: 68vw;
}

.pr-vw-69 {
  padding-right: 69vw;
}

.pr-vw-70 {
  padding-right: 70vw;
}

.pr-vw-71 {
  padding-right: 71vw;
}

.pr-vw-72 {
  padding-right: 72vw;
}

.pr-vw-73 {
  padding-right: 73vw;
}

.pr-vw-74 {
  padding-right: 74vw;
}

.pr-vw-75 {
  padding-right: 75vw;
}

.pr-vw-76 {
  padding-right: 76vw;
}

.pr-vw-77 {
  padding-right: 77vw;
}

.pr-vw-78 {
  padding-right: 78vw;
}

.pr-vw-79 {
  padding-right: 79vw;
}

.pr-vw-80 {
  padding-right: 80vw;
}

.pr-vw-81 {
  padding-right: 81vw;
}

.pr-vw-82 {
  padding-right: 82vw;
}

.pr-vw-83 {
  padding-right: 83vw;
}

.pr-vw-84 {
  padding-right: 84vw;
}

.pr-vw-85 {
  padding-right: 85vw;
}

.pr-vw-86 {
  padding-right: 86vw;
}

.pr-vw-87 {
  padding-right: 87vw;
}

.pr-vw-88 {
  padding-right: 88vw;
}

.pr-vw-89 {
  padding-right: 89vw;
}

.pr-vw-90 {
  padding-right: 90vw;
}

.pr-vw-91 {
  padding-right: 91vw;
}

.pr-vw-92 {
  padding-right: 92vw;
}

.pr-vw-93 {
  padding-right: 93vw;
}

.pr-vw-94 {
  padding-right: 94vw;
}

.pr-vw-95 {
  padding-right: 95vw;
}

.pr-vw-96 {
  padding-right: 96vw;
}

.pr-vw-97 {
  padding-right: 97vw;
}

.pr-vw-98 {
  padding-right: 98vw;
}

.pr-vw-99 {
  padding-right: 99vw;
}

.pr-vw-100 {
  padding-right: 100vw;
}

/**-- Margin Views --*/

.m-v-1 {
  margin: 1vh 1vw 1vh 1vw;
}

.m-v-2 {
  margin: 2vh 2vw 2vh 2vw;
}

.m-v-3 {
  margin: 3vh 3vw 3vh 3vw;
}

.m-v-4 {
  margin: 4vh 4vw 4vh 4vw;
}

.m-v-5 {
  margin: 5vh 5vw 5vh 5vw;
}

.m-v-6 {
  margin: 6vh 6vw 6vh 6vw;
}

.m-v-7 {
  margin: 7vh 7vw 7vh 7vw;
}

.m-v-8 {
  margin: 8vh 8vw 8vh 8vw;
}

.m-v-9 {
  margin: 9vh 9vw 9vh 9vw;
}

.m-v-10 {
  margin: 10vh 10vw 10vh 10vw;
}

.m-v-11 {
  margin: 11vh 11vw 11vh 11vw;
}

.m-v-12 {
  margin: 12vh 12vw 12vh 12vw;
}

.m-v-13 {
  margin: 13vh 13vw 13vh 13vw;
}

.m-v-14 {
  margin: 14vh 14vw 14vh 14vw;
}

.m-v-15 {
  margin: 15vh 15vw 15vh 15vw;
}

.m-v-16 {
  margin: 16vh 16vw 16vh 16vw;
}

.m-v-17 {
  margin: 17vh 17vw 17vh 17vw;
}

.m-v-18 {
  margin: 18vh 18vw 18vh 18vw;
}

.m-v-19 {
  margin: 19vh 19vw 19vh 19vw;
}

.m-v-20 {
  margin: 20vh 20vw 20vh 20vw;
}

.m-v-21 {
  margin: 21vh 21vw 21vh 21vw;
}

.m-v-22 {
  margin: 22vh 22vw 22vh 22vw;
}

.m-v-23 {
  margin: 23vh 23vw 23vh 23vw;
}

.m-v-24 {
  margin: 24vh 24vw 24vh 24vw;
}

.m-v-25 {
  margin: 25vh 25vw 25vh 25vw;
}

.m-v-26 {
  margin: 26vh 26vw 26vh 26vw;
}

.m-v-27 {
  margin: 27vh 27vw 27vh 27vw;
}

.m-v-28 {
  margin: 28vh 28vw 28vh 28vw;
}

.m-v-29 {
  margin: 29vh 29vw 29vh 29vw;
}

.m-v-30 {
  margin: 30vh 30vw 30vh 30vw;
}

.m-v-31 {
  margin: 31vh 31vw 31vh 31vw;
}

.m-v-32 {
  margin: 32vh 32vw 32vh 32vw;
}

.m-v-33 {
  margin: 33vh 33vw 33vh 33vw;
}

.m-v-34 {
  margin: 34vh 34vw 34vh 34vw;
}

.m-v-35 {
  margin: 35vh 35vw 35vh 35vw;
}

.m-v-36 {
  margin: 36vh 36vw 36vh 36vw;
}

.m-v-37 {
  margin: 37vh 37vw 37vh 37vw;
}

.m-v-38 {
  margin: 38vh 38vw 38vh 38vw;
}

.m-v-39 {
  margin: 39vh 39vw 39vh 39vw;
}

.m-v-40 {
  margin: 40vh 40vw 40vh 40vw;
}

.m-v-41 {
  margin: 41vh 41vw 41vh 41vw;
}

.m-v-42 {
  margin: 42vh 42vw 42vh 42vw;
}

.m-v-43 {
  margin: 43vh 43vw 43vh 43vw;
}

.m-v-44 {
  margin: 44vh 44vw 44vh 44vw;
}

.m-v-45 {
  margin: 45vh 45vw 45vh 45vw;
}

.m-v-46 {
  margin: 46vh 46vw 46vh 46vw;
}

.m-v-47 {
  margin: 47vh 47vw 47vh 47vw;
}

.m-v-48 {
  margin: 48vh 48vw 48vh 48vw;
}

.m-v-49 {
  margin: 49vh 49vw 49vh 49vw;
}

.m-v-50 {
  margin: 50vh 50vw 50vh 50vw;
}

.m-v-51 {
  margin: 51vh 51vw 51vh 51vw;
}

.m-v-52 {
  margin: 52vh 52vw 52vh 52vw;
}

.m-v-53 {
  margin: 53vh 53vw 53vh 53vw;
}

.m-v-54 {
  margin: 54vh 54vw 54vh 54vw;
}

.m-v-55 {
  margin: 55vh 55vw 55vh 55vw;
}

.m-v-56 {
  margin: 56vh 56vw 56vh 56vw;
}

.m-v-57 {
  margin: 57vh 57vw 57vh 57vw;
}

.m-v-58 {
  margin: 58vh 58vw 58vh 58vw;
}

.m-v-59 {
  margin: 59vh 59vw 59vh 59vw;
}

.m-v-60 {
  margin: 60vh 60vw 60vh 60vw;
}

.m-v-61 {
  margin: 61vh 61vw 61vh 61vw;
}

.m-v-62 {
  margin: 62vh 62vw 62vh 62vw;
}

.m-v-63 {
  margin: 63vh 63vw 63vh 63vw;
}

.m-v-64 {
  margin: 64vh 64vw 64vh 64vw;
}

.m-v-65 {
  margin: 65vh 65vw 65vh 65vw;
}

.m-v-66 {
  margin: 66vh 66vw 66vh 66vw;
}

.m-v-67 {
  margin: 67vh 67vw 67vh 67vw;
}

.m-v-68 {
  margin: 68vh 68vw 68vh 68vw;
}

.m-v-69 {
  margin: 69vh 69vw 69vh 69vw;
}

.m-v-70 {
  margin: 70vh 70vw 70vh 70vw;
}

.m-v-71 {
  margin: 71vh 71vw 71vh 71vw;
}

.m-v-72 {
  margin: 72vh 72vw 72vh 72vw;
}

.m-v-73 {
  margin: 73vh 73vw 73vh 73vw;
}

.m-v-74 {
  margin: 74vh 74vw 74vh 74vw;
}

.m-v-75 {
  margin: 75vh 75vw 75vh 75vw;
}

.m-v-76 {
  margin: 76vh 76vw 76vh 76vw;
}

.m-v-77 {
  margin: 77vh 77vw 77vh 77vw;
}

.m-v-78 {
  margin: 78vh 78vw 78vh 78vw;
}

.m-v-79 {
  margin: 79vh 79vw 79vh 79vw;
}

.m-v-80 {
  margin: 80vh 80vw 80vh 80vw;
}

.m-v-81 {
  margin: 81vh 81vw 81vh 81vw;
}

.m-v-82 {
  margin: 82vh 82vw 82vh 82vw;
}

.m-v-83 {
  margin: 83vh 83vw 83vh 83vw;
}

.m-v-84 {
  margin: 84vh 84vw 84vh 84vw;
}

.m-v-85 {
  margin: 85vh 85vw 85vh 85vw;
}

.m-v-86 {
  margin: 86vh 86vw 86vh 86vw;
}

.m-v-87 {
  margin: 87vh 87vw 87vh 87vw;
}

.m-v-88 {
  margin: 88vh 88vw 88vh 88vw;
}

.m-v-89 {
  margin: 89vh 89vw 89vh 89vw;
}

.m-v-90 {
  margin: 90vh 90vw 90vh 90vw;
}

.m-v-91 {
  margin: 91vh 91vw 91vh 91vw;
}

.m-v-92 {
  margin: 92vh 92vw 92vh 92vw;
}

.m-v-93 {
  margin: 93vh 93vw 93vh 93vw;
}

.m-v-94 {
  margin: 94vh 94vw 94vh 94vw;
}

.m-v-95 {
  margin: 95vh 95vw 95vh 95vw;
}

.m-v-96 {
  margin: 96vh 96vw 96vh 96vw;
}

.m-v-97 {
  margin: 97vh 97vw 97vh 97vw;
}

.m-v-98 {
  margin: 98vh 98vw 98vh 98vw;
}

.m-v-99 {
  margin: 99vh 99vw 99vh 99vw;
}

.m-v-100 {
  margin: 100vh 100vw 100vh 100vw;
}

/**-- Margin top View Heights --*/

.mt-vh-1 {
  margin-top: 1vh;
}

.mt-vh-2 {
  margin-top: 2vh;
}

.mt-vh-3 {
  margin-top: 3vh;
}

.mt-vh-4 {
  margin-top: 4vh;
}

.mt-vh-5 {
  margin-top: 5vh;
}

.mt-vh-6 {
  margin-top: 6vh;
}

.mt-vh-7 {
  margin-top: 7vh;
}

.mt-vh-8 {
  margin-top: 8vh;
}

.mt-vh-9 {
  margin-top: 9vh;
}

.mt-vh-10 {
  margin-top: 10vh;
}

.mt-vh-11 {
  margin-top: 11vh;
}

.mt-vh-12 {
  margin-top: 12vh;
}

.mt-vh-13 {
  margin-top: 13vh;
}

.mt-vh-14 {
  margin-top: 14vh;
}

.mt-vh-15 {
  margin-top: 15vh;
}

.mt-vh-16 {
  margin-top: 16vh;
}

.mt-vh-17 {
  margin-top: 17vh;
}

.mt-vh-18 {
  margin-top: 18vh;
}

.mt-vh-19 {
  margin-top: 19vh;
}

.mt-vh-20 {
  margin-top: 20vh;
}

.mt-vh-21 {
  margin-top: 21vh;
}

.mt-vh-22 {
  margin-top: 22vh;
}

.mt-vh-23 {
  margin-top: 23vh;
}

.mt-vh-24 {
  margin-top: 24vh;
}

.mt-vh-25 {
  margin-top: 25vh;
}

.mt-vh-26 {
  margin-top: 26vh;
}

.mt-vh-27 {
  margin-top: 27vh;
}

.mt-vh-28 {
  margin-top: 28vh;
}

.mt-vh-29 {
  margin-top: 29vh;
}

.mt-vh-30 {
  margin-top: 30vh;
}

.mt-vh-31 {
  margin-top: 31vh;
}

.mt-vh-32 {
  margin-top: 32vh;
}

.mt-vh-33 {
  margin-top: 33vh;
}

.mt-vh-34 {
  margin-top: 34vh;
}

.mt-vh-35 {
  margin-top: 35vh;
}

.mt-vh-36 {
  margin-top: 36vh;
}

.mt-vh-37 {
  margin-top: 37vh;
}

.mt-vh-38 {
  margin-top: 38vh;
}

.mt-vh-39 {
  margin-top: 39vh;
}

.mt-vh-40 {
  margin-top: 40vh;
}

.mt-vh-41 {
  margin-top: 41vh;
}

.mt-vh-42 {
  margin-top: 42vh;
}

.mt-vh-43 {
  margin-top: 43vh;
}

.mt-vh-44 {
  margin-top: 44vh;
}

.mt-vh-45 {
  margin-top: 45vh;
}

.mt-vh-46 {
  margin-top: 46vh;
}

.mt-vh-47 {
  margin-top: 47vh;
}

.mt-vh-48 {
  margin-top: 48vh;
}

.mt-vh-49 {
  margin-top: 49vh;
}

.mt-vh-50 {
  margin-top: 50vh;
}

.mt-vh-51 {
  margin-top: 51vh;
}

.mt-vh-52 {
  margin-top: 52vh;
}

.mt-vh-53 {
  margin-top: 53vh;
}

.mt-vh-54 {
  margin-top: 54vh;
}

.mt-vh-55 {
  margin-top: 55vh;
}

.mt-vh-56 {
  margin-top: 56vh;
}

.mt-vh-57 {
  margin-top: 57vh;
}

.mt-vh-58 {
  margin-top: 58vh;
}

.mt-vh-59 {
  margin-top: 59vh;
}

.mt-vh-60 {
  margin-top: 60vh;
}

.mt-vh-61 {
  margin-top: 61vh;
}

.mt-vh-62 {
  margin-top: 62vh;
}

.mt-vh-63 {
  margin-top: 63vh;
}

.mt-vh-64 {
  margin-top: 64vh;
}

.mt-vh-65 {
  margin-top: 65vh;
}

.mt-vh-66 {
  margin-top: 66vh;
}

.mt-vh-67 {
  margin-top: 67vh;
}

.mt-vh-68 {
  margin-top: 68vh;
}

.mt-vh-69 {
  margin-top: 69vh;
}

.mt-vh-70 {
  margin-top: 70vh;
}

.mt-vh-71 {
  margin-top: 71vh;
}

.mt-vh-72 {
  margin-top: 72vh;
}

.mt-vh-73 {
  margin-top: 73vh;
}

.mt-vh-74 {
  margin-top: 74vh;
}

.mt-vh-75 {
  margin-top: 75vh;
}

.mt-vh-76 {
  margin-top: 76vh;
}

.mt-vh-77 {
  margin-top: 77vh;
}

.mt-vh-78 {
  margin-top: 78vh;
}

.mt-vh-79 {
  margin-top: 79vh;
}

.mt-vh-80 {
  margin-top: 80vh;
}

.mt-vh-81 {
  margin-top: 81vh;
}

.mt-vh-82 {
  margin-top: 82vh;
}

.mt-vh-83 {
  margin-top: 83vh;
}

.mt-vh-84 {
  margin-top: 84vh;
}

.mt-vh-85 {
  margin-top: 85vh;
}

.mt-vh-86 {
  margin-top: 86vh;
}

.mt-vh-87 {
  margin-top: 87vh;
}

.mt-vh-88 {
  margin-top: 88vh;
}

.mt-vh-89 {
  margin-top: 89vh;
}

.mt-vh-90 {
  margin-top: 90vh;
}

.mt-vh-91 {
  margin-top: 91vh;
}

.mt-vh-92 {
  margin-top: 92vh;
}

.mt-vh-93 {
  margin-top: 93vh;
}

.mt-vh-94 {
  margin-top: 94vh;
}

.mt-vh-95 {
  margin-top: 95vh;
}

.mt-vh-96 {
  margin-top: 96vh;
}

.mt-vh-97 {
  margin-top: 97vh;
}

.mt-vh-98 {
  margin-top: 98vh;
}

.mt-vh-99 {
  margin-top: 99vh;
}

.mt-vh-100 {
  margin-top: 100vh;
}

/**-- Margin bottom View Heights --*/

.mb-vh-1 {
  margin-bottom: 1vh;
}

.mb-vh-2 {
  margin-bottom: 2vh;
}

.mb-vh-3 {
  margin-bottom: 3vh;
}

.mb-vh-4 {
  margin-bottom: 4vh;
}

.mb-vh-5 {
  margin-bottom: 5vh;
}

.mb-vh-6 {
  margin-bottom: 6vh;
}

.mb-vh-7 {
  margin-bottom: 7vh;
}

.mb-vh-8 {
  margin-bottom: 8vh;
}

.mb-vh-9 {
  margin-bottom: 9vh;
}

.mb-vh-10 {
  margin-bottom: 10vh;
}

.mb-vh-11 {
  margin-bottom: 11vh;
}

.mb-vh-12 {
  margin-bottom: 12vh;
}

.mb-vh-13 {
  margin-bottom: 13vh;
}

.mb-vh-14 {
  margin-bottom: 14vh;
}

.mb-vh-15 {
  margin-bottom: 15vh;
}

.mb-vh-16 {
  margin-bottom: 16vh;
}

.mb-vh-17 {
  margin-bottom: 17vh;
}

.mb-vh-18 {
  margin-bottom: 18vh;
}

.mb-vh-19 {
  margin-bottom: 19vh;
}

.mb-vh-20 {
  margin-bottom: 20vh;
}

.mb-vh-21 {
  margin-bottom: 21vh;
}

.mb-vh-22 {
  margin-bottom: 22vh;
}

.mb-vh-23 {
  margin-bottom: 23vh;
}

.mb-vh-24 {
  margin-bottom: 24vh;
}

.mb-vh-25 {
  margin-bottom: 25vh;
}

.mb-vh-26 {
  margin-bottom: 26vh;
}

.mb-vh-27 {
  margin-bottom: 27vh;
}

.mb-vh-28 {
  margin-bottom: 28vh;
}

.mb-vh-29 {
  margin-bottom: 29vh;
}

.mb-vh-30 {
  margin-bottom: 30vh;
}

.mb-vh-31 {
  margin-bottom: 31vh;
}

.mb-vh-32 {
  margin-bottom: 32vh;
}

.mb-vh-33 {
  margin-bottom: 33vh;
}

.mb-vh-34 {
  margin-bottom: 34vh;
}

.mb-vh-35 {
  margin-bottom: 35vh;
}

.mb-vh-36 {
  margin-bottom: 36vh;
}

.mb-vh-37 {
  margin-bottom: 37vh;
}

.mb-vh-38 {
  margin-bottom: 38vh;
}

.mb-vh-39 {
  margin-bottom: 39vh;
}

.mb-vh-40 {
  margin-bottom: 40vh;
}

.mb-vh-41 {
  margin-bottom: 41vh;
}

.mb-vh-42 {
  margin-bottom: 42vh;
}

.mb-vh-43 {
  margin-bottom: 43vh;
}

.mb-vh-44 {
  margin-bottom: 44vh;
}

.mb-vh-45 {
  margin-bottom: 45vh;
}

.mb-vh-46 {
  margin-bottom: 46vh;
}

.mb-vh-47 {
  margin-bottom: 47vh;
}

.mb-vh-48 {
  margin-bottom: 48vh;
}

.mb-vh-49 {
  margin-bottom: 49vh;
}

.mb-vh-50 {
  margin-bottom: 50vh;
}

.mb-vh-51 {
  margin-bottom: 51vh;
}

.mb-vh-52 {
  margin-bottom: 52vh;
}

.mb-vh-53 {
  margin-bottom: 53vh;
}

.mb-vh-54 {
  margin-bottom: 54vh;
}

.mb-vh-55 {
  margin-bottom: 55vh;
}

.mb-vh-56 {
  margin-bottom: 56vh;
}

.mb-vh-57 {
  margin-bottom: 57vh;
}

.mb-vh-58 {
  margin-bottom: 58vh;
}

.mb-vh-59 {
  margin-bottom: 59vh;
}

.mb-vh-60 {
  margin-bottom: 60vh;
}

.mb-vh-61 {
  margin-bottom: 61vh;
}

.mb-vh-62 {
  margin-bottom: 62vh;
}

.mb-vh-63 {
  margin-bottom: 63vh;
}

.mb-vh-64 {
  margin-bottom: 64vh;
}

.mb-vh-65 {
  margin-bottom: 65vh;
}

.mb-vh-66 {
  margin-bottom: 66vh;
}

.mb-vh-67 {
  margin-bottom: 67vh;
}

.mb-vh-68 {
  margin-bottom: 68vh;
}

.mb-vh-69 {
  margin-bottom: 69vh;
}

.mb-vh-70 {
  margin-bottom: 70vh;
}

.mb-vh-71 {
  margin-bottom: 71vh;
}

.mb-vh-72 {
  margin-bottom: 72vh;
}

.mb-vh-73 {
  margin-bottom: 73vh;
}

.mb-vh-74 {
  margin-bottom: 74vh;
}

.mb-vh-75 {
  margin-bottom: 75vh;
}

.mb-vh-76 {
  margin-bottom: 76vh;
}

.mb-vh-77 {
  margin-bottom: 77vh;
}

.mb-vh-78 {
  margin-bottom: 78vh;
}

.mb-vh-79 {
  margin-bottom: 79vh;
}

.mb-vh-80 {
  margin-bottom: 80vh;
}

.mb-vh-81 {
  margin-bottom: 81vh;
}

.mb-vh-82 {
  margin-bottom: 82vh;
}

.mb-vh-83 {
  margin-bottom: 83vh;
}

.mb-vh-84 {
  margin-bottom: 84vh;
}

.mb-vh-85 {
  margin-bottom: 85vh;
}

.mb-vh-86 {
  margin-bottom: 86vh;
}

.mb-vh-87 {
  margin-bottom: 87vh;
}

.mb-vh-88 {
  margin-bottom: 88vh;
}

.mb-vh-89 {
  margin-bottom: 89vh;
}

.mb-vh-90 {
  margin-bottom: 90vh;
}

.mb-vh-91 {
  margin-bottom: 91vh;
}

.mb-vh-92 {
  margin-bottom: 92vh;
}

.mb-vh-93 {
  margin-bottom: 93vh;
}

.mb-vh-94 {
  margin-bottom: 94vh;
}

.mb-vh-95 {
  margin-bottom: 95vh;
}

.mb-vh-96 {
  margin-bottom: 96vh;
}

.mb-vh-97 {
  margin-bottom: 97vh;
}

.mb-vh-98 {
  margin-bottom: 98vh;
}

.mb-vh-99 {
  margin-bottom: 99vh;
}

.mb-vh-100 {
  margin-bottom: 100vh;
}

/**-- Margin left View Widths --*/

.ml-vh-1 {
  margin-left: 1vw;
}

.ml-vh-2 {
  margin-left: 2vw;
}

.ml-vh-3 {
  margin-left: 3vw;
}

.ml-vh-4 {
  margin-left: 4vw;
}

.ml-vh-5 {
  margin-left: 5vw;
}

.ml-vh-6 {
  margin-left: 6vw;
}

.ml-vh-7 {
  margin-left: 7vw;
}

.ml-vh-8 {
  margin-left: 8vw;
}

.ml-vh-9 {
  margin-left: 9vw;
}

.ml-vh-10 {
  margin-left: 10vw;
}

.ml-vh-11 {
  margin-left: 11vw;
}

.ml-vh-12 {
  margin-left: 12vw;
}

.ml-vh-13 {
  margin-left: 13vw;
}

.ml-vh-14 {
  margin-left: 14vw;
}

.ml-vh-15 {
  margin-left: 15vw;
}

.ml-vh-16 {
  margin-left: 16vw;
}

.ml-vh-17 {
  margin-left: 17vw;
}

.ml-vh-18 {
  margin-left: 18vw;
}

.ml-vh-19 {
  margin-left: 19vw;
}

.ml-vh-20 {
  margin-left: 20vw;
}

.ml-vh-21 {
  margin-left: 21vw;
}

.ml-vh-22 {
  margin-left: 22vw;
}

.ml-vh-23 {
  margin-left: 23vw;
}

.ml-vh-24 {
  margin-left: 24vw;
}

.ml-vh-25 {
  margin-left: 25vw;
}

.ml-vh-26 {
  margin-left: 26vw;
}

.ml-vh-27 {
  margin-left: 27vw;
}

.ml-vh-28 {
  margin-left: 28vw;
}

.ml-vh-29 {
  margin-left: 29vw;
}

.ml-vh-30 {
  margin-left: 30vw;
}

.ml-vh-31 {
  margin-left: 31vw;
}

.ml-vh-32 {
  margin-left: 32vw;
}

.ml-vh-33 {
  margin-left: 33vw;
}

.ml-vh-34 {
  margin-left: 34vw;
}

.ml-vh-35 {
  margin-left: 35vw;
}

.ml-vh-36 {
  margin-left: 36vw;
}

.ml-vh-37 {
  margin-left: 37vw;
}

.ml-vh-38 {
  margin-left: 38vw;
}

.ml-vh-39 {
  margin-left: 39vw;
}

.ml-vh-40 {
  margin-left: 40vw;
}

.ml-vh-41 {
  margin-left: 41vw;
}

.ml-vh-42 {
  margin-left: 42vw;
}

.ml-vh-43 {
  margin-left: 43vw;
}

.ml-vh-44 {
  margin-left: 44vw;
}

.ml-vh-45 {
  margin-left: 45vw;
}

.ml-vh-46 {
  margin-left: 46vw;
}

.ml-vh-47 {
  margin-left: 47vw;
}

.ml-vh-48 {
  margin-left: 48vw;
}

.ml-vh-49 {
  margin-left: 49vw;
}

.ml-vh-50 {
  margin-left: 50vw;
}

.ml-vh-51 {
  margin-left: 51vw;
}

.ml-vh-52 {
  margin-left: 52vw;
}

.ml-vh-53 {
  margin-left: 53vw;
}

.ml-vh-54 {
  margin-left: 54vw;
}

.ml-vh-55 {
  margin-left: 55vw;
}

.ml-vh-56 {
  margin-left: 56vw;
}

.ml-vh-57 {
  margin-left: 57vw;
}

.ml-vh-58 {
  margin-left: 58vw;
}

.ml-vh-59 {
  margin-left: 59vw;
}

.ml-vh-60 {
  margin-left: 60vw;
}

.ml-vh-61 {
  margin-left: 61vw;
}

.ml-vh-62 {
  margin-left: 62vw;
}

.ml-vh-63 {
  margin-left: 63vw;
}

.ml-vh-64 {
  margin-left: 64vw;
}

.ml-vh-65 {
  margin-left: 65vw;
}

.ml-vh-66 {
  margin-left: 66vw;
}

.ml-vh-67 {
  margin-left: 67vw;
}

.ml-vh-68 {
  margin-left: 68vw;
}

.ml-vh-69 {
  margin-left: 69vw;
}

.ml-vh-70 {
  margin-left: 70vw;
}

.ml-vh-71 {
  margin-left: 71vw;
}

.ml-vh-72 {
  margin-left: 72vw;
}

.ml-vh-73 {
  margin-left: 73vw;
}

.ml-vh-74 {
  margin-left: 74vw;
}

.ml-vh-75 {
  margin-left: 75vw;
}

.ml-vh-76 {
  margin-left: 76vw;
}

.ml-vh-77 {
  margin-left: 77vw;
}

.ml-vh-78 {
  margin-left: 78vw;
}

.ml-vh-79 {
  margin-left: 79vw;
}

.ml-vh-80 {
  margin-left: 80vw;
}

.ml-vh-81 {
  margin-left: 81vw;
}

.ml-vh-82 {
  margin-left: 82vw;
}

.ml-vh-83 {
  margin-left: 83vw;
}

.ml-vh-84 {
  margin-left: 84vw;
}

.ml-vh-85 {
  margin-left: 85vw;
}

.ml-vh-86 {
  margin-left: 86vw;
}

.ml-vh-87 {
  margin-left: 87vw;
}

.ml-vh-88 {
  margin-left: 88vw;
}

.ml-vh-89 {
  margin-left: 89vw;
}

.ml-vh-90 {
  margin-left: 90vw;
}

.ml-vh-91 {
  margin-left: 91vw;
}

.ml-vh-92 {
  margin-left: 92vw;
}

.ml-vh-93 {
  margin-left: 93vw;
}

.ml-vh-94 {
  margin-left: 94vw;
}

.ml-vh-95 {
  margin-left: 95vw;
}

.ml-vh-96 {
  margin-left: 96vw;
}

.ml-vh-97 {
  margin-left: 97vw;
}

.ml-vh-98 {
  margin-left: 98vw;
}

.ml-vh-99 {
  margin-left: 99vw;
}

.ml-vh-100 {
  margin-left: 100vw;
}

/**-- Margin right View Widths --*/

.mr-vh-1 {
  margin-right: 1vw;
}

.mr-vh-2 {
  margin-right: 2vw;
}

.mr-vh-3 {
  margin-right: 3vw;
}

.mr-vh-4 {
  margin-right: 4vw;
}

.mr-vh-5 {
  margin-right: 5vw;
}

.mr-vh-6 {
  margin-right: 6vw;
}

.mr-vh-7 {
  margin-right: 7vw;
}

.mr-vh-8 {
  margin-right: 8vw;
}

.mr-vh-9 {
  margin-right: 9vw;
}

.mr-vh-10 {
  margin-right: 10vw;
}

.mr-vh-11 {
  margin-right: 11vw;
}

.mr-vh-12 {
  margin-right: 12vw;
}

.mr-vh-13 {
  margin-right: 13vw;
}

.mr-vh-14 {
  margin-right: 14vw;
}

.mr-vh-15 {
  margin-right: 15vw;
}

.mr-vh-16 {
  margin-right: 16vw;
}

.mr-vh-17 {
  margin-right: 17vw;
}

.mr-vh-18 {
  margin-right: 18vw;
}

.mr-vh-19 {
  margin-right: 19vw;
}

.mr-vh-20 {
  margin-right: 20vw;
}

.mr-vh-21 {
  margin-right: 21vw;
}

.mr-vh-22 {
  margin-right: 22vw;
}

.mr-vh-23 {
  margin-right: 23vw;
}

.mr-vh-24 {
  margin-right: 24vw;
}

.mr-vh-25 {
  margin-right: 25vw;
}

.mr-vh-26 {
  margin-right: 26vw;
}

.mr-vh-27 {
  margin-right: 27vw;
}

.mr-vh-28 {
  margin-right: 28vw;
}

.mr-vh-29 {
  margin-right: 29vw;
}

.mr-vh-30 {
  margin-right: 30vw;
}

.mr-vh-31 {
  margin-right: 31vw;
}

.mr-vh-32 {
  margin-right: 32vw;
}

.mr-vh-33 {
  margin-right: 33vw;
}

.mr-vh-34 {
  margin-right: 34vw;
}

.mr-vh-35 {
  margin-right: 35vw;
}

.mr-vh-36 {
  margin-right: 36vw;
}

.mr-vh-37 {
  margin-right: 37vw;
}

.mr-vh-38 {
  margin-right: 38vw;
}

.mr-vh-39 {
  margin-right: 39vw;
}

.mr-vh-40 {
  margin-right: 40vw;
}

.mr-vh-41 {
  margin-right: 41vw;
}

.mr-vh-42 {
  margin-right: 42vw;
}

.mr-vh-43 {
  margin-right: 43vw;
}

.mr-vh-44 {
  margin-right: 44vw;
}

.mr-vh-45 {
  margin-right: 45vw;
}

.mr-vh-46 {
  margin-right: 46vw;
}

.mr-vh-47 {
  margin-right: 47vw;
}

.mr-vh-48 {
  margin-right: 48vw;
}

.mr-vh-49 {
  margin-right: 49vw;
}

.mr-vh-50 {
  margin-right: 50vw;
}

.mr-vh-51 {
  margin-right: 51vw;
}

.mr-vh-52 {
  margin-right: 52vw;
}

.mr-vh-53 {
  margin-right: 53vw;
}

.mr-vh-54 {
  margin-right: 54vw;
}

.mr-vh-55 {
  margin-right: 55vw;
}

.mr-vh-56 {
  margin-right: 56vw;
}

.mr-vh-57 {
  margin-right: 57vw;
}

.mr-vh-58 {
  margin-right: 58vw;
}

.mr-vh-59 {
  margin-right: 59vw;
}

.mr-vh-60 {
  margin-right: 60vw;
}

.mr-vh-61 {
  margin-right: 61vw;
}

.mr-vh-62 {
  margin-right: 62vw;
}

.mr-vh-63 {
  margin-right: 63vw;
}

.mr-vh-64 {
  margin-right: 64vw;
}

.mr-vh-65 {
  margin-right: 65vw;
}

.mr-vh-66 {
  margin-right: 66vw;
}

.mr-vh-67 {
  margin-right: 67vw;
}

.mr-vh-68 {
  margin-right: 68vw;
}

.mr-vh-69 {
  margin-right: 69vw;
}

.mr-vh-70 {
  margin-right: 70vw;
}

.mr-vh-71 {
  margin-right: 71vw;
}

.mr-vh-72 {
  margin-right: 72vw;
}

.mr-vh-73 {
  margin-right: 73vw;
}

.mr-vh-74 {
  margin-right: 74vw;
}

.mr-vh-75 {
  margin-right: 75vw;
}

.mr-vh-76 {
  margin-right: 76vw;
}

.mr-vh-77 {
  margin-right: 77vw;
}

.mr-vh-78 {
  margin-right: 78vw;
}

.mr-vh-79 {
  margin-right: 79vw;
}

.mr-vh-80 {
  margin-right: 80vw;
}

.mr-vh-81 {
  margin-right: 81vw;
}

.mr-vh-82 {
  margin-right: 82vw;
}

.mr-vh-83 {
  margin-right: 83vw;
}

.mr-vh-84 {
  margin-right: 84vw;
}

.mr-vh-85 {
  margin-right: 85vw;
}

.mr-vh-86 {
  margin-right: 86vw;
}

.mr-vh-87 {
  margin-right: 87vw;
}

.mr-vh-88 {
  margin-right: 88vw;
}

.mr-vh-89 {
  margin-right: 89vw;
}

.mr-vh-90 {
  margin-right: 90vw;
}

.mr-vh-91 {
  margin-right: 91vw;
}

.mr-vh-92 {
  margin-right: 92vw;
}

.mr-vh-93 {
  margin-right: 93vw;
}

.mr-vh-94 {
  margin-right: 94vw;
}

.mr-vh-95 {
  margin-right: 95vw;
}

.mr-vh-96 {
  margin-right: 96vw;
}

.mr-vh-97 {
  margin-right: 97vw;
}

.mr-vh-98 {
  margin-right: 98vw;
}

.mr-vh-99 {
  margin-right: 99vw;
}

.mr-vh-100 {
  margin-right: 100vw;
}

